<script lang="ts" setup>
import { ref } from "vue";

const num1 = ref(0);
const num2 = ref<number[]>([]);
function menu(num1: number) {
  num2.value.splice(0, num2.value.length);
  for (let i = 1; i <= num1; i++) {
    num2.value.push(i);
  }
}
</script>

<template>
  <v-form
    ><v-text-field
      label="Plase input Number"
      class="ma-10"
      v-model="num1"
      :rules="[(v: any) => !!v || 'Number is not empty!!']"
      :oninput="menu(num1)"
    ></v-text-field
  ></v-form>
  <v-container style="height: 450px; overflow: auto">
    <v-row>
      <v-col cols="12 " md="1" v-for="item in num2" :key="item">{{
        item
      }}</v-col>
    </v-row>
  </v-container>
</template>
